@model WebApp.ViewModels.EmployeeViewModels.FarmerViewModel

<style>
	.farmer-card {
		width: 100%;
		max-width: 250px;
		background: white;
		padding: .4em;
		border-radius: 6px;
		box-shadow: 0 4px 6px rgba(0,0,0,0.1);
		display: inline-block;
	}

	.farmer-card-header {
		font-weight: 600;
		color: rgb(88, 87, 87);
		padding: 7px;
		font-size: 1em;
	}

	.farmer-card-body {
		color: gray;
		font-size: 0.9em;
		padding: 0 7px 7px;
	}

	.farmer-card-actions {
		display: flex;
		justify-content: space-between;
		padding: 0.5em 0.6em;
	}

		.farmer-card-actions a {
			font-size: 0.8em;
		}
</style>

<div class="farmer-card">
	<div class="farmer-card-header">
		@Model.FirstName @Model.LastName
	</div>
	<div class="farmer-card-body">
		<p>
			<strong>Email:</strong>
			<br />  
			@Model.Email
		</p>
		<p>
			<small>Created By: @(Model.CreatedBy?.FullName ?? "N/A")</small>
			<br />
			<small>Created On: @(Model.CreatedOn?.ToString("yyyy-MM-dd") ?? "N/A")</small>
		</p>
	</div>
	<div class="farmer-card-actions">
		<a asp-action="Edit" asp-route-id="@Model.FarmerId" class="btn btn-sm btn-outline-success">Edit</a>
		<a asp-action="Delete" asp-route-id="@Model.FarmerId" class="btn btn-sm btn-outline-danger">Delete</a>
	</div>
</div>